body{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 20px;
	font-family: 微软雅黑;
}
ul,li,h1,h2,h3,h4,p{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
#fp-nav ul li a span{
	background: #fff;
}
 #fp .section:first-child{
	width: 100%;
    vertical-align: top;
	background: url(../img/homepage_pic.jpg) no-repeat;
	background-size: cover;
	text-align: center;
}
.sec1{
 	display: inline-block;
	    background: url(../img/logo-big-1024.png) no-repeat;
    width: 538px;
    height: 75px;
    margin-top: 160px;
}
 #fp .section:first-child h1{
 	font-size: 25px;
 	padding-top: 5px;
 	font-weight: 400;
 }
 #fp .section:first-child .nav{
 	    width: 100%;
    height: 45px;
    text-align: center;
    position: absolute;
    margin-top: 8px;
    z-index: 6;
 }
 #fp .section:first-child .nav a{
 	    left: 20px;
    background: url('../img/menu.png') center no-repeat;
    width: 30px;
    height: 26px;
    position: absolute;
    margin-top: 20px;
 }
 #fp .section:first-child a{
 	display: inline-block;
 	background: 	#2189ff;
 	margin: 85px auto;
 	color: #fff;
 	font-weight: bold;
 	width: 259px;
    height: 65px;
    line-height: 63px;
    margin-top: 55px;
    font-size: 28px;
 }
.fp-tableCell{
	display: inline-block;
}
#fp .section:nth-child(2){
	width:100%;
	height: 641px;
	background: #fff;
}
#fp .section:nth-child(2) h2{
	margin-top: 50px;
	    background-position: center 115px!important;
	    background-image: url(../img/why-torch.png);
    background-size: auto 110px!important;
    font-size: 38px;
    letter-spacing: 3px;
    height: 110px;
    line-height: 120px;
}
.sec2{
	width: 800px;
	overflow: hidden;
	margin:20px auto 65px auto;
}
.sec2 .sec2inner {
	text-align: center;
}
.sec2 .sec2inner div{
	width:200px;
	height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
	display: inline-block;
}
.sec2 .sec2inner div:first-child a{
	display: inline-block;
	width:192px;
	height: 192px;
	background: url(../img/mg.jpg) center no-repeat;
	    background-size: cover!important;
	    background-position: 0% 0px;
}
.sec2 .sec2inner div:nth-child(2) a{
	display: inline-block;
	width:192px;
	height: 192px;
	background: url(../img/mg.jpg) center no-repeat;
	    background-size: cover!important;
	     background-position: 0% 0px;
}
.sec2 .sec2inner div:nth-child(3) a{
	display: inline-block;
	width:192px;
	height: 192px;
	background: url(../img/mg.jpg) center no-repeat;
	    background-size: cover!important;
	     background-position: 0% 0px;
}
.sec2 .sec2inner div:nth-child(4) a{
	display: inline-block;
	width:192px;
	height: 192px;
	background: url(../img/mg.jpg) center no-repeat;
	    background-size: cover!important;
	     background-position: 0% 0px;
}
.sec2 .sec2inner div:nth-child(5) a{
	display: inline-block;
	width:192px;
	height: 192px;
	background: url(../img/mg.jpg) center no-repeat;
	    background-size: cover!important;
	     background-position: 0% 0px;
}
.sec2 .sec2inner div:nth-child(6) a{
	display: inline-block;
	width:192px;
	height: 192px;
	background: url(../img/mg.jpg) center no-repeat;
	    background-size: cover!important;
	     background-position: 0% 0px;
}






#fp .section:nth-child(3){
	height: 641px;
	width:100%;
	background: rgb(90,169,224);
	padding-top: 70px;
	text-align: center;
}
.sec3{
	margin-top: 100px;
	overflow: hidden;
}
.sec31{
	background: url(../img/video-1024.gif);
	width:400px;
	height: 250px;
	margin-right: 57px;
	display: inline-block;
	margin-left: 15px;
	opacity: 0;
	top: -20px;
	position: relative;
}
.sec32{
	width:400px;
	display: inline-block;
	opacity: 0;
	margin-left: -10px;
	display: inline-block;
}
.sec32 .sec32_icon{
	width:78px;
	height: 77px;
	margin-left: 3px;
	background: url(../img/icon.png) no-repeat left;
	background-size: 78px 77px;
}
.sec32  p{
	width:400px;
	font-size: 20px;
	line-height: 26px;
	color: #fff;
	font-weight: 300;
	text-align: left;
}
.sec32 h2{
	font-size: 50px;
	line-height: 55px;
	text-align: left;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 10px;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.sec33{
	opacity: 0;
	width: 106px;
	height: 107px;
	background: url(../img/arrow-1024.png) no-repeat center;
	position: absolute;
	top: 175px;
	left: 0;
}
#fp .section:nth-child(4){
	width:100%;
	background: rgb(41,211,213);
	padding-top: 70px;
	text-align: center;
}
.sec41{
	margin-top: 118px;
    display: inline-block;
    width: 424px;
    height: 276px;
    background: #fff;
    margin-right: 30px;
    position: relative;
}
.sec42{
	background: url('../img/icon (1).png') no-repeat;
	background-size: 88px 89px;
	margin-top: 118px;
    width: 400px;
    height: 224px;
    padding-top: 100px;
    display: inline-block;
    opacity: 0;
}
.sec42 h2{
	text-align: left;
	text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 10px;
}
.sec42 p{
	text-align: left;
	    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
}
.sec411{
	    background: url(../img/screen-border-1024.png) no-repeat;
    width: 100%;
    height: 276px;
    position: absolute;
    top: 0;
    left: 0;
}
.sec411 div{
	    background: url(../img/torrent-screen-1024.png) no-repeat;
    width: 100%;
    height: 276px;
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0;
}
.sec412{
	    position: absolute;
    width: 170px;
    height: 170px;
    margin-top: -25px;
    margin-left: 310px;
    text-align: center;
}
.sec412 div{
	    background: url('../img/mag.png') center no-repeat;
    background-size: cover;
    width: 0;
    height: 0;
    margin-top: 85px;
    opacity: 1;
}
.sec413{
	background: url('../img/screen-stand-1024.png') center no-repeat;
    width: 305px;
    height: 90px;
    margin-top: 230px;
    position: absolute;
    top: 35px;
    left: 60px;
}

#fp .section:nth-child(5){
	width:100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	background: url(../img/bg.jpg);
}
.sec5{
	    width: 610px;
    margin: 120px auto 0;
    color: #fff;
        font-size: 20px;
    line-height: 26px;
    top: 20px;
    opacity: 0;
}
.sec5 h2{
	    background: url("../img/icon (2).png") left 15px no-repeat;
    text-align: left;
        letter-spacing: 5px;
            text-transform: uppercase;
    display: inline-block;
    padding-bottom: 10px;
    margin: 40px 0;
        background-size: 85px;
    padding-left: 110px;
    background-position: left 10px;
        font-size: 50px;
    line-height: 55px;
}
#fp .section:nth-child(6){
	height: 641px;
	width:100%;
	position: relative;
	background: url(../img/bg-music.jpg);
} 
.sec6{
	background: url("../img/icon (5).png") left 10px no-repeat;
	background-size: 91px;
	width:755px;
	height: 130px;
	position: absolute;
	left:50%;
	bottom: 30px;
	margin-left: -405px;
	opacity: 0;
}
.sec61{
	    display: inline-block;
	    float: left;
    text-align: left;
    margin-left: 115px;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-weight: bold;
	color: #fff;
}
.sec62{
	display: inline-block;
	width: 425px;
	padding-top: 5px;
	font-size: 20px;
	line-height: 26px;
	float: right;
	color: #fff;
}
#fp .section:nth-child(7){
	height: 641px;
	width:100%;
	background: url("../img/bg (1).jpg");
	text-align: center;
	background-size: cover;
	padding-top: 70px;
} 
.sec7{
	position: absolute;
	top: 130px;
	height: 130px;
	left: 50%;
	margin-left: -490px;
	opacity: 0;

}
.sec71{
	display: inline-block;
       background: url('../img/icon (3).png') center top no-repeat;
    /*float: left;*/
    width: 440px;
        background-size: 81px 89px;
    padding-top: 105px;
}
.sec71 h2{
	font-size: 50px;
	line-height: 55px;
	letter-spacing: 5px;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.sec71 p{
	font-size: 20px;
	line-height: 26px;
	font-weight: 300;
}
.sec72{
	display: inline-block;
	    background-image: url(../img/laptop-1024.png);
    width: 474px;
    height: 266px;
    margin-right: 0;
}
#fp .section:nth-child(8){
	width:100%;
	 height: 597px;
    background: rgb(69, 97, 157);padding-top: 70px;
    text-align: center;
} 
.sec8{
	width:100%;
    padding-top: 130px;
       background: url('../img/icon (4).png')center 50px no-repeat;
	    background-size: 104px 100px;
}
.sec81{
	width:790px;
	margin: 20px auto 30px auto;
	opacity: 0;
}
.sec81 h2{
	font-size: 50px;
	line-height: 55px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
}
.sec81 p{
	font-size: 20px;
	line-height: 26px;
}
.sec82tu:nth-child(1){
	    background: url('../img/browser1.png') no-repeat;
	        margin-left: -148px;
    opacity: 0;
}
.sec82tu:nth-child(2){
	    background: url('../img/browser3.png') no-repeat;
    margin-left: -148px;
    opacity: 0;
}
.sec82tu:nth-child(3){
	    background: url('../img/browser2.png') no-repeat;
    margin-left: -148px;
    opacity: 0;
}
.sec82tu{
	        width: 297px;
    height: 192px;
        position: absolute;
    left: 50%;
        display: inline-block;
            background-size: cover!important;

}
#fp .section:nth-child(9){
	height: 641px;
	width:100%;
	background: url("../img/bg (2).jpg");
	padding-top: 70px;
	text-align: center;
} 
.sec9{
	margin-top: 0px;
	opacity: 0;		
}
.sec9 h2{
	font-size: 31px;
	letter-spacing: 2px;
	line-height: 55px;
}
.sec9 h3{
	font-size: 52px;
	letter-spacing: 5px;
}
.sec9 a{
	display: block;
	    width: 259px;
    height: 65px;
    line-height: 65px;
    font-size: 28px;
    margin: 25px auto;
        background-color: #2189FF;
            /*margin: 85px auto;*/
            font-weight: bold;
            color: #fff;
}
.footer{
	position: absolute;
	bottom: 30px;
	left:0;
	width:100%;
	height: 130px;
	background: #000;
	opacity: 0.7;
	    font-size: 14px;
    font-weight: 300;
}
.footer a{
    color: #FFFFFF;
}
.footer ul{
	padding-bottom: 20px;
}
.footer li{
	    display: inline-block;
    border-right: 1px #FFFFFF solid;
    padding-right: 10px;
    padding-left: 5px;
}
.kuai{
	width:100px;
	height: 100px;
	background: red;
	transition: all 0.625s ease;
}
.skuai{
	width:100px;
	height: 100px;
	background: #767577;
	transition: all 0.625s ease;
}
.daohang{
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	background: rgba(0,0,0,0.2);
	opacity: 0;
	z-index: 99;
	height: 62px;
	padding-top: 8px;
}
.daohang1{
	    position: absolute;
    background: url('../img/menu-negative.png') center no-repeat;
    width: 99px;
    height: 26px;
    left: 50px;
    margin-top: 12px;
}
.daohang2{
	position: absolute;
    margin-left: -70px;
    left: 50%;
    background: url('../img/torch-logo-negative.png') center no-repeat;
    width: 141px;
    height: 45px;
    display: inline-block;
    cursor: pointer;
}
.daohang3{
	display: inline-block;
    position: absolute;
    right: 10px;
    margin-top: 5px;
    width: 122px;
    padding-left: 35px;
    height: 44px;
    line-height: 42px;
    background: #2189FF url(../img/download-arrow.png) no-repeat 14px center;
    color: #FFFFFF;
    font-size: 20px;
    box-shadow: 0 1px 0 #2463C9;
}
